@media only screen and (min-width: 54rem) {
    #preview {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.5;
    }

    .preview-wrapper {
        width: unset;
        height: 30vh;
    }
}

@media only screen and (max-width: 54rem) {
    #viewer {
        min-height: 80vh;
    }
}