@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --background: #101010;
    --01: hsl(0, 0%, 20%);
    --02: hsl(0, 0%, 25%);
    --03: hsl(0, 0%, 40%);
    --color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: var(--01);
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.nav-group,
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: min-content;
}

.nav-item[action] {
    background-color: var(--02);
    padding: 0.5rem;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.nav-item[action]:hover {
    cursor: pointer;
    background-color: var(--03);
}